**pycache**
# .chainlit
.github
.ruff_cache
assets
llama_index_ttam
output_folder
html_data
models
scripts
test_data
test_out_docx
.cache
.env.example
quydinh_huongdan.zip
README.md
**/node_modules/**
volumes
test_module
uit_tuyensinh
logs
data_imgs
data_synthetic
collection
collection_data
collection_new_data
bm25s_index
data
