__pycache__/
bm25s_index/
collection_new_data/
data_filter/
data_filter_2024/
dataset/
dataset_2/
dataset_2024/
dataset_2024_new/
dataset_2024_old/
dataset_2025/
dataset_new/
dataset_no_contextual/
logs/
raw_data_2024/
raw_data_2025/
raw_data_new/
test_module/
volumes/
.env
.env.no-auth
.env.production
*.csv
src/generate_data/
src/embedding/rag.py
dev/
env/
data/
output/
assets/
.files/
.ruff_cache/
data_imgs/
llama_index_ttam/
test_data/
test_out_docx/
models/
html_data/
link_html.txt
.cache
.env.production
output_folder/
